{% extends 'base.html.twig' %}

{% block title %} {{ ship.name}} {% endblock %}

{% block body %}
    <h1>{{ ship.name }}<h1/>

    <table>
        <tbody>
            <tr>
                <th>Class</th>
                <td>
                <a href="{{ path('app_starship_show', {
                    id: ship.id
                }) }}">{{ ship.name }}</a>
                </td>
            </tr>
            <tr>
                <th>Captain</th>
                <td>{{ ship.captain }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}